<a href="http://www.leboncoin.fr/velos/666091436.htm?ca=22_s" title="V&eacute;lo enfants 16 pouces">
                        <div class="lbc">
                            <div class="date">
                                <div>Aujourd'hui</div>
                                <div>20:11</div>
                            </div>                            
                            <div class="image">                                
                                    <div class="image-and-nb">
                                    <img src="http://193.164.196.30/thumbs/173/173427001365832.jpg" alt="V&eacute;lo enfants 16 pouces">
                                       <div class="nb">
                                            <div class="top radius">&nbsp;</div>
                                            <div class="value radius">3</div>
                                        </div>
                                     </div>                              
                            </div>                          
                            <div class="detail">
                                <div class="title">
                                    V&eacute;lo enfants 16 pouces
                                </div>
                                <div class="category">                                   
                                </div>
                                <div class="placement">
                                                   Villeurbanne                                       
                                                /
	                                        Rhône
                                </div>
								<div class="price">
									30&nbsp;&euro;
								</div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        </a>
