<div class="list-lbc">
                    <a href="http://www.leboncoin.fr/velos/554416977.htm?ca=22_s" title="V&eacute;lo Enfant">
                        <div class="lbc">
                            <div class="date">
                                <div>Aujourd'hui</div>
                                <div>16:31</div>
                            </div>                            
                            <div class="image">                                
                                    <div class="image-and-nb">
                                    <img src="http://193.164.196.40/thumbs/983/983320090618145.jpg" alt="V&eacute;lo Enfant">         
                                        <div class="nb">
                                            <div class="top radius">&nbsp;</div>
                                            <div class="value radius">1</div>
                                        </div>
                                    </div>
                            </div>
                            <div class="detail">
                                <div class="title">
                                    V&eacute;lo Enfant
                                </div>
                                <div class="category">
                                 </div>
                                <div class="placement">
                                                   Saint-Désirat
                                                /
                                        Ardèche
                                </div>
                                            <div class="price">
                                                20&nbsp;&euro;
                                            </div>
                               </div>
                            <div class="clear"></div>
                        </div>
                        </a>
                        <div class="clear"></div>
